<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brandName</key>
		<string>阿尔法罗密欧</string>
		<key>cars</key>
		<array>
			<dict>
				<key>carName</key>
				<string>ALFA 156</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>ALFA GT</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>ALFA 4C</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>ALFA GTV</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandName</key>
		<string>阿斯顿马丁</string>
		<key>cars</key>
		<array>
			<dict>
				<key>carName</key>
				<string>阿斯顿马丁DB9</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>Rapide</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>V8 Vantage</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>V12 Vantage</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>阿斯顿马丁DBS</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>Vanquish</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>V12 Zagato</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>Virage</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>阿斯顿马丁ONE-77</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandName</key>
		<string>安凯汽车</string>
		<key>cars</key>
		<array>
			<dict>
				<key>carName</key>
				<string>安凯汽车</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandName</key>
		<string>奥迪</string>
		<key>cars</key>
		<array>
			<dict>
				<key>carName</key>
				<string>奥迪 SQ5</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪A3(进口)</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪A8</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪S3</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪Q5</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪R8</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪A1</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪A5</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪S6</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪TT</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪S7</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪Q3</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪A4(进口)</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪S5</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪RS 5</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥迪A4</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandName</key>
		<string>宝骏</string>
		<key>cars</key>
		<array>
			<dict>
				<key>carName</key>
				<string>宝骏630</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>宝骏730</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>宝骏560</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>宝骏610</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandName</key>
		<string>保时捷</string>
		<key>cars</key>
		<array>
			<dict>
				<key>carName</key>
				<string>卡宴 Turbo S</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>Panamera</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>Boxster</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>保时捷911</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandName</key>
		<string>本田</string>
		<key>cars</key>
		<array>
			<dict>
				<key>carName</key>
				<string>艾力绅</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>飞度</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>歌诗图</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>本田CR-Z</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>思域</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>时韵</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>奥德赛</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>杰德</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>飞度（进口）</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>本田CR-V</string>
			</dict>
			<dict>
				<key>carName</key>
				<string>本田XR-V</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
